
.point-fill-field {
    background: white;
    font-family: Arial, sans-serif;
    font-size: large;
}

textarea.point-fill-field {
    min-width: 10.5vw;
    min-height: 5.5vh;

    max-width: 15vw;
    max-height: 10vh;
}